<div style="background: url('../../../../assets/images/bg1.jpg')">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card"
           style="padding: 20px ; opacity: 0.9; background-image:url('../../../../assets/images/abutus.jpg') ">
        <div class="card-title" style="padding: 20px;">
          <div class="text-center"><h3>Infrastructure</h3></div>
        </div>
        <div class="card-text" style="padding: 20px;">
          <br> Advanced manufacturing unit spread over an area of 36000 Sq. Mtr, having 4 Nos. manufacturing Bays equipped
          with specialized sophisticated machines .
          <br><br>Bay- 1 Aluminium Cryocans (1 Litre to 55 Litres capacity)<br>
          Bay -2 Small size Industrial Cryogenic Vessels (110 Litres to 1000 Litres capacity)<br>
          Bay-3 Medium and large size Cryogenic vessel ( 3000 Litre to 40000 Litres capacity)<br>
          Bay- 4 Large & Heavy pressure vessels,Lube equipments and Aviation equipments.<br>
          <br>There are dedicated facility in above bays for manufacturing Carbon Steel and Stainless Steel separately.
        </div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<br>
