<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EmployeeLogin</title>
  <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head>
<body>
<div class="body"></div>
<div class="grad"></div>
<div class="header">

</div>
<br>
<div class="login">
  <div class="logo">
    <a href="/"><img src="/assets/images/logo.gif" alt="Indian Oil Logo"></a>
    <div class="search-click"><i class="fa fa-search" aria-hidden="true"></i></div>
    <div class="mobClick">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <input type="text" placeholder="username" name="user"><br>
  <input type="password" placeholder="password" name="password"><br>
  <input type="button" value="Login">
</div>

</body>
</html>
