
*, ::after, ::before {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.slider-main {
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
  overflow: hidden;
}

.slider {
  width: 650px;
  height: 350px;
  margin: 0 auto;
  transform-style: preserve-3d;
}


/*.jas-carousel > .jas-item {*/
/*  position: absolute !important;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*  transform-style: preserve-3d;*/
/*}*/

/*.pointer {*/
/*  cursor: pointer;*/
/*}*/

* {
  padding: 0px;
  margin: 0px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: grey;
}


.gradient-text {
  /* Fallback: Set a background color. */
  /* background-color: #CA4246; */
  
  /* Create the gradient. */
   background-image: linear-gradient(
        45deg,
        #CA4246 16.666%, 
        #E16541 16.666%, 
        #E16541 33.333%, 
        #F18F43 33.333%, 
        #F18F43 50%, 
        #8B9862 50%, 
        #8B9862 66.666%, 
        #476098 66.666%, 
        #476098 83.333%, 
        #A7489B 83.333%);
  
  /* Set the background size and repeat properties. */
  /* background-size: 100%; */
  /* background-repeat: repeat; */

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    /* animation: rainbow-text-simple-animation-rev 0.75s ease forwards; */

}

/* .gradient-text:hover{
    animation: rainbow-text-simple-animation 0.5s ease-in forwards;
} */


/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
/* @keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
} */

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
/* @keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    } */
/* } */
  


/* Style the rest of the page. */
/* body {
  background-color: #fdf1f0;
} */

/* header {
  margin-top: 1em;
  margin-top: calc(50vh - 3em);
} */

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  font-size: 4em;
  text-align: center;
  margin-bottom: 0;
  margin-bottom: -0.25em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: 605px;
}

/* @font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v16/HTxqL289NzCGg4MzN6KJ7eW6CYKF_i7y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
/*@font-face {
  font-family: 'Archivo Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/archivoblack/v16/HTxqL289NzCGg4MzN6KJ7eW6CYyF_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */


/*.jas-control .next {*/
/*  position: absolute;*/
/*  right: -220px;*/
/*  top: 50%;*/
/*  margin-top: -37px;*/
/*  color: #FFF;*/
/*  opacity: 0.5;*/
/*  background: #03174f;*/
/*}*/

/*.jas-carousel {*/
/*  position: absolute !important;*/
/*  transform-style: preserve-3d;*/
/*  transition: all 0.5s;*/
/*  -webkit-transition: all 0.5s;*/
/*  -ms-transition: all 0.5s;*/
/*  -moz-transition: all 0.5s;*/
/*  height: 100%;*/
/*  width: 100%;*/
/*}*/

/*.jas-carousel > .jas-item.active {*/
/*  filter: unset;*/
/*}*/

/**, ::after, ::before {*/
/*  box-sizing: border-box;*/
/*}*/

/*element.style {*/
/*  transform: translateZ(-790px) rotateY(*/
/*    -270deg*/
/*  );*/
/*  transition: all 800ms ease 0s;*/
/*}*/


/*.slider-main {*/
/*  width: 100%;*/
/*  position: relative;*/
/*  transform-style: preserve-3d;*/
/*  overflow: hidden;*/
/*}*/

@media (max-width: 991px) {
  .hero-section {
    height: auto;
    padding-bottom: 100px;
  }

  .hero-section {
    height: 410px;
    background: url(/src/assets/images/hero-bg.jpg) no-repeat;
    background-size: cover;
    padding: 50px 15px;
    padding-bottom: 150px;
    box-sizing: content-box;
    background-position: bottom;
    width: calc(100% - 30px);
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .slider-main {
    width: 100%;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
  }
}
