<div class="demo-wrap">
  <div class="demo-bg"></div>
  <br>
  <!-- <div style="background-image:url('../../../../assets/images/hero-bg.jpg') ;"> -->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card demo-content">
        <div class="card-title" style="padding: 20px;">
          <div class="text-center">
            <h3><b>Technical Capabilities & Expertise</b></h3>
          </div>
        </div>
        <div class="card-text" style="padding: 20px;">


          BG(Cryo)’s committed team is a rich mix of experience, technically up to date and raw talent. Team has very
          strong
          engineering background and specialized skills acquired over years of experience and training.<br><br>


          <b>Design Capabilities:</b><br><br>
          BG(Cryo) has its own fully equipped Design & Development department with qualified and experienced design
          professionals.<br>
          Capabilities include Design,development and detailed engineering of :<br><br>
          <ul>
            <li class="bi-caret-right-fill">
              <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
            </svg> -->
              Cryogenic storage and transport vessels confirming to ASME,EN,ADM,BS,IS codes and SMPV rules.
            </li>
            <li class="bi-caret-right-fill">Thermal design and analysis of Cryogenic vessels</li>
            <li class="bi-caret-right-fill">Unfired Pressure vessels /Reactors confirming to ASME code and SMPV rules
            </li>
            <li class="bi-caret-right-fill">Petroleum product storage tanks confirming to API stds</li>
            <li class="bi-caret-right-fill">Lube equipments/Grease kettles</li>
            <li class="bi-caret-right-fill">Aviation fuel handling equipments Viz, Double walled containerised
              tanks,Refuellers,Dispensers etc.</li>
            <li class="bi-caret-right-fill">Piping design and analysis.</li>
          </ul><br>
          <b>Software/Design Tools available:</b><br>
          <ul>
            <li class="bi-caret-right-fill">PV Elite</li>
            <li class="bi-caret-right-fill"> Caeser piping design and analysis</li>
            <li class="bi-caret-right-fill">Auto CAD</li>
            <li class="bi-caret-right-fill"> FE analysis</li>
            <li class="bi-caret-right-fill">Thermal design tools developed in house</li>
            <li class="bi-caret-right-fill">3-D modelling</li>
          </ul><br><br>

          <b>Manufacturing Capabilities:</b><br><br>

          BG(Cryo) is blessed with fully committed, adaptable,highly motivated and skilled work force ably guided by
          qualified
          and experienced technical professionals . Innovative and effective approach has been hall mark of team’s
          success.<br>

          Manufacturing capabilities include<br><br>

          <b>Welding:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Third party (LRIS,BVQI,TUV,DNV) qualified welders</li>
            <li class="bi-caret-right-fill">TIG,MIG,SAW & SMAW processes</li>
            <li class="bi-caret-right-fill">Stainless steel ,Carbon steel,Alloy steel and Aluminum material</li>
            <li class="bi-caret-right-fill">Qualified weld processes for both Auto and manual welding upto 40 mm thk
            </li>
          </ul><br>


          BG(Cryo) is one of the largest Aluminum welders in the country.<br><br>

          <b>Plate Bending/Rolling:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 40 mm thk, 3 M wide both SS and CS</li>
          </ul><br>

          <b>Dishing:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 5 Mtr dia, 40 mm thk</li>
          </ul>
          <br>

          <b> Piping:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 200 mm dia, 80 Sch</li>
          </ul>
          <br>

          <b>Plasma cutting:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Fine cut upto 40 mm thk</li>
          </ul>
          <br>

          <b>Material Handling:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Over head lift- in house upto 30 MT</li>
            <li class="bi-caret-right-fill">Assisted lift upto 50 MT</li>
            <li class="bi-caret-right-fill">Under hook height 12 Mtr</li>
          </ul>
          <br>

          <b> MLSI Insulation:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 2.5 Mtr dia, 10 Mtr length, 15 MT weight</li>
          </ul><br>
          <b> Perlite filling:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 10 MT</li>
          </ul><br>
          <b> Evacuation/Vacuumising:</b><br>
          <ul>
            <li class="bi-caret-right-fill">Upto 1x10e-3 mbar, annular volumes upto 100 KL</li>
          </ul><br>

          <b> NDT Test:</b><br>
          <ul>
            <li class="bi-caret-right-fill"> Radiographic testing(X- ray /Gamma ray)</li>
            <li class="bi-caret-right-fill"> Liquid penetrant testing</li>
            <li class="bi-caret-right-fill"> Magnetic particle testing</li>
            <li class="bi-caret-right-fill">Ultrasonic testing</li>

            <li class="bi-caret-right-fill">Mass Spectro Meter helium leak testing(MSLD)</li>
            <li class="bi-caret-right-fill"> Hydrostatic testing</li>
            <li class="bi-caret-right-fill">Positive Material Identification</li>
          </ul><br>


          BG(Cryo) has a pool of RT-II qualified engineers.<br>
          Surface preparation/Shot blasting and Painting:<br><br>


          <b>Expertise</b><br>
          <ul>
            <li class="bi-caret-right-fill">Design, development, manufacturing, testing and supply of Cryogenic Systems.
            </li>
            <li class="bi-caret-right-fill">Design, development, manufacturing, testing and supply of Vacuum Systems.
            </li>
            <li class="bi-caret-right-fill">Special applications and projects involving application of vacuum and
              cryogenics.</li>
            <li class="bi-caret-right-fill">Insulation of Vessels and equipment with Perlite powder or multilayer super
              insulation with high vacuum.</li>
            <li class="bi-caret-right-fill"> Design, fabrication, erection & commissioning of super insulated pipelines
              (both rigid as well as flexible) for
              various liquids.</li>
            <li class="bi-caret-right-fill">Consultancy in selection as well as turnkey project execution for liquid
              gases storage, gasification, pressurization
              and filling of cylinders or input to processes.</li>
            <li class="bi-caret-right-fill">Design, development, manufacturing, testing and supply of Pressure Vessels
              for applications in Refinery,
              Petrochemicals and other process industry.</li>
          </ul><br>


          <img class="card-img-top" src="../../../../assets/images/techni_1.png" alt="Cryogenics-Nashik"><br><br>
          <img class="card-img-top" src="../../../../assets/images/techni_2.png" alt="Cryogenics-Nashik"><br>


        </div><br>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <!-- </div> -->
  <br><br><br>
</div>