<!-- <div style="background-image:url('../../../../assets/images/hero-bg.jpg') ;"> -->
<div class="demo-wrap">
  <div class="demo-bg"></div><br>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card demo-content">
        <div class="card-title" style="padding: 20px;">
          <div class="text-center">
            <h3><b>Recognitions & Approvals</b></h3>
          </div>
        </div>
        <div class="card-text" style="padding: 20px;">

          <p> 1. ISO 9001Certified<br>

            2. ISI mark for Cryocans - confirming to IS11552, the first company in India to get ISI mark for this
            product.<br>

            3. PESO approval for manufacturing Cryogenic and Pressure vessels both under SMPV and Petroleum rules, the
            only
            facility to have both approvals.<br>
          </p>
        </div><br>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <!-- </div> --><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br>
</div>