<div class="container">
  <div class="card-header">
    <h4 class="text-center">Contact Details</h4>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8">
        <table class="table table-bordered">
          <thead>
          <tr>

            <th scope="col">Emp Name</th>
            <th scope="col">
              Designation
            </th>
            <th scope="col">Phone No</th>
          </tr>
          </thead>
          <tbody>
          <tr>

            <td>Gururaj. K</td>
            <td>CGM (Cryogenics)</td>
            <td>Landline: 91-253-2381949</td>
          </tr>
          <tr>

            <td>Sachin Rajurkar</td>
            <td>CM(Cryogenics Marketing)</td>
            <td>Mobile: 7506114294 , Whatsapp: 7506114294,Landline: 91-253-2381333</td>
          </tr>
          <tr>

            <td>Ayan Naskar</td>
            <td>Senior Officer (Marketing)</td>
            <td>Mobile: 7077614455,Whatsapp: 7077614455,Landline: 91-253-2381333</td>
          </tr>
          </tbody>
        </table>

      </div>
      <div class="col-2"></div>
    </div>
    <br>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <table class="table table-bordered">
          <thead>
          <tr>

            <th scope="col">Office Address</th>
            <th scope="col">Phone No</th>
            <th scope="col">Email ID</th>
          </tr>
          </thead>
          <tbody>
          <tr>

            <td>Business Group Cryogenics</td>
            <td>Landline: 91-253-2382032</td>
            <td>
              cryoinfo@indianoil.in
            </td>
          </tr>
          <tr>

            <td>Indian Oil Corporation Ltd</td>
            <td>Landline: 91-253-2382096</td>
            <td></td>
          </tr>
          <tr>
            <td>A-4, MIDC Ambad</td>
            <td>Landline: 91-253-2382132</td>
            <td></td>
          </tr>
          <tr>
            <td>Nashik- 422010</td>
             <td></td><td></td>
          </tr>
          <tr>
            <td>(Maharashtra), India</td><td></td><td></td>
          </tr>
          </tbody>
        </table>
      </div><div class="col-2"></div>
      </div>
    </div>
  

