 <!doctype html>
 <html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EmployeeLogin</title>
  <link rel="stylesheet" href="/assets/css/login.css" type="text/css">
</head> -->

<body>
  <form [formGroup]="myGroup" (ngSubmit)="onClickSubmit()">
    <!-- <div class="body"></div> -->
 <!-- <div class="grad"></div>  -->
<!-- <div class="header">

</div> -->
    <br>
    <div>
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <a href="/"><img src="/assets/images/logo.gif" alt="Indian Oil Logo"></a><br><br>
          <input type="text" class="form-control" name="empCode" formControlName="empCode"><br>
          <input type="password" class="form-control" placeholder="password" name="password"
            formControlName="password"><br>
          <button class="form-control ">SAVE</button>
        </div>
        <div class="col-md-5"></div>
      </div>
    </div>
  </form>
</body>
 </html> 