<div style="background:url('../../../../assets/images/bg1.jpg')">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card"
           style="padding: 20px ; opacity: 0.9; background-image:url('../../../../assets/images/abutus.jpg') ">
        <div class="card-title" style="padding: 20px;">
          <div class="text-center"><h3>Equipment / Machinery</h3></div>
        </div>
        <div class="card-text" style="padding: 20px;">
          Welding equipments(Auto, Semi auto ,Manual) Upto 1000 Amps<br><br>
          Process: TIG,MIG,SAW & SMAW<br><br>
          Job Rotators Up to 60 MT load 11<br><br>
          Rolling 12 mm Thick X 2500mm wide CS Plate<br><br>
          Plate Bending Machine 36 mm Thick X 3000 CS Plate 01<br><br>
          Shearing Machine 8 mm Thick X 2500 wide CS Plate 01<br><br>
          Sheet cutting (Plasma/ Gas cutting) Up to 30 MM Thick, SS/CS 02<br><br>
          EOT Cranes 5 MT /10 MT / 30 MT 01 each<br><br>
          Hydrostatic testing Up to 150KL, 40 Bar Press 01<br><br>
          Radiography testing X-ray, Gamma ray up to 40 Curie 02<br><br>
          Perlite filling Up to 1000 bags/ day 01<br><br>
          MLSI winding stations Up to 2.4 Mtr diaX 10 Mtr long 02<br><br>
          Three stage Evacuation rigs Up to 2000 Cum/Hr with ultimate vacu of 1x10e -4 mbar 06<br><br>
          Mass Spectroscopic<br><br>
          Helium Leak Detectors (MSLD) Detect Leaks of 1X10-12 mbar l/sec 07<br><br>
          Pipe bending Up to 60 NB, 80 Sch 01<br><br>
          Shot blasting/Painting Up to 4 M dia X 15 Mtr long<br><br>
          Open raw Material store yard with gantry crane of 5/10/10 MT<br><br>
        </div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<br>
